[submodule "external/cmake-ci"]
	path = external/cmake-ci
	url = ../cmake-ci.git
[submodule "external/faslib"]
	path = external/faslib
	url = ../../migashko/faslib.git
	branch = master
[submodule "external/wjson"]
	path = external/wjson
	url = ../wjson.git
	branch = master
[submodule "external/wlog"]
	path = external/wlog
	url = ../wlog.git
	branch = master
